<!DOCTYPE html>
<html lang="en">
<head>
	<title>EDLI Calculator</title>
	<!-- CSS only -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-icons.css">
	<link rel="stylesheet" href="./css/style.css">

</head>

<body ng-app="edliApp" ng-controller="edliCtrl" class="pt-100 pb-100"  style="background-image: linear-gradient(0deg, #FDFFFF 0%, #DFFFFF 100%);">
	<header class="p-1 mb-2 bg-info text-white shadow">
		<div class="container">
		  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			  <li><a href="index.html" class="nav-link px-2 text-white">Home</a></li>
			  <li><a href="pension.html" class="nav-link px-2 text-white">Pension Calculator</a></li>
			  <li><a href="edli.html" class="nav-link px-2 text-white">EDLI</a></li>
			</ul>
			<h3 class="text-center">CALCULATOR</h3>
		  </div>
		</div>
	</header>
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-10">
				<div class="alert fade show" role="alert">
					<ul class="list-group">
						<li  class="list-group-item list-group-item-warning"><i class="bi bi-exclamation-octagon-fill"></i>
							The calculation on this page is only illustrative and based on the data entered by the user. Hence, it may differ with the actual benefit processed by the office based on the data available in the EPFO database. In case of any mismatch, the actual benefit processed by the EPFO office will be considered final.
						</li>
						<li class="list-group-item list-group-item-warning" ><i class="bi bi-exclamation-octagon-fill"></i>
						Preceding months - Example: If Date-of-Death is 07.04.2022 then wages and progressive balance between 04-21 to 03-22 needs to be taken for calculation of Average wages and average progressive balance.
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-2 py-4">
				<div id="qrcode"></div>
			</div>
		</div>
		<div class="row g-4 d-flex justify-content-between">
			<div class="col-md-6 col-sm-12 mx-auto">
				<div class="card shadow">
					<div class="card-header">EDLI Calculator Input</div>
					<div class="card-body">
						<form name="edliForm">
							<span class="alert col-5" ng-if=0 id="basic-addon1">{{alert}}</span>
							<div class="input-group mb-2">
								<span class="input-group-text col-8" data-bs-toggle="tooltip" data-bs-placement="top" title="Based on date of death the minimum, maximum and other factors of calculation are affected. These are based on Gazette Notifications /circulars issued from time to time. ">Date of Death : <i class="bi bi-question-circle-fill"></i></span>
								<input type="date" ng-model="dod" class="form-control col-4" id="dod" name="dod" ng-change="updateParams(list,dod)" placeholder="dod" aria-label="dod" aria-describedby="basic-addon1"  dateofdeath required>
								<div class="invalid-tooltip">Please enter a valid input.</div>
							</div>
							<div class="alert alert-danger alert-sm" ng-show="edliForm.dod.$dirty &&  edliForm.dod.$invalid">
								<span ng-show="edliForm.dod.$error.required">Date of Death is required.</span>
								<span ng-show="edliForm.dod.$error.date">For Calculator to work, the date should be between 01-04-2011 and Today's Date</span>
							</div>
							
							<div class="input-group mb-2" >
								<span class="input-group-text col-8" id="basic-addon1" data-bs-toggle="tooltip" data-bs-placement="top" title="Average progressive balance is average of balance in past 12 months. The same is available in the passbook website.">Average Progressive Balance: <i class="bi bi-question-circle-fill"></i></span>
								<input type="number" ng-model="apb" name="apb" min="1" class="form-control col-4" ng-change="update()" placeholder="Average Progressive Balance" aria-label="Average Progressive Balance" aria-describedby="basic-addon1" required>
							</div>
							<div class="alert alert-danger alert-sm" ng-show="edliForm.apb.$dirty && edliForm.apb.$invalid">
								<span ng-show="edliForm.apb.$error.required">Average Progressive Balance is required.</span>
								<span ng-show="edliForm.apb.$error.integer || edliForm.apb.$error.min || edliForm.apb.$error.max">For Calculator to work, The average progressive balance should be entered</span>
							</div>
							
							<div class="form-check form-switch" ng-show="params.b_factor">
								<input class="form-check-input" ng-model="continuous12" ng-change="update()" id="continuous" type="checkbox" id="flexSwitchCheckDefault">
								<label class="form-check-label" for="flexCheckDefault" ng-if="dod<limit2">Whether completed continuous 12 months service is same establishment(last service)?</label>
								<label class="form-check-label" for="flexCheckDefault" ng-if="dod>=limit2">Whether completed continuous 12 months service (not necessarily in same est)?</label>
							</div>
							
							<div class="input-group mb-2" ng-show="(continuous12 && params.b_factor)">
								<span class="input-group-text col-8" id="basic-addon1" data-bs-toggle="tooltip" data-bs-placement="top" title="Average wages is average of PF contributory wages in past 12 months. The same is available in the passbook website. If Date-of-Death is 07.04.2022 then wages between 04-20 to 03-21 needs to be taken for average.">Average Wages in preceding 12 Months (max:{{b_ceiling}}): </span>
								<input type="number" ng-model="avg_wage" name="avg_wage" class="form-control col-4" ng-change="update()" min="1" max="15000" placeholder="Average Wage" max="{{b_ceiling+1000}}"  aria-label="Average Wage" aria-describedby="basic-addon1">
							</div>
							<div class="alert alert-danger alert-sm" ng-show="(continuous12 && params.b_factor) && edliForm.avg_wage.$dirty && edliForm.avg_wage.$invalid">
								<span ng-show="edliForm.avg_wage.$error.required">Average Progressive Balance.</span>
								<span ng-show="edliForm.avg_wage.$error.integer || edliForm.avg_wage.$error.min || edliForm.avg_wage.$error.max">For Part B calculation of EDLI benefit, average wage amount is needed. The amount should be less than wage ceiling. </span>
							</div>
			
						</form>
					</div>
					<div class="card-footer  d-flex justify-content-between align-items-center">
						EDLI Benefit: {{final}}
						<span>
							<button type="button" class="btn btn-success align-self-center" ng-disabled="edliForm.dod.$error.required || edliForm.apb.$error.required || edliForm.dod.$invalid || edliForm.apb.$invalid || edliForm.avg_wage.$invalid" ng-click="updateCalculation()">Show Updated Calculation</button>
							<button type="button" class="btn btn-danger align-self-center" ng-click="reset()">Reset</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12" ng-show="output && !(edliForm.dod.$error.required || edliForm.apb.$error.required || edliForm.dod.$invalid || edliForm.apb.$invalid || edliForm.avg_wage.$invalid)">
				<div class="card shadow">
					<div class="card-header d-flex justify-content-between align-items-center">EDLI Calculator Output : <span>Date of Death: {{dod | date:'dd-MM-yyyy'}}</span></div>
					<div class="card-body p-3">
						
						<ul class="list-group mb-3">
							<li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Part A = Proportional amount+ Percent*(APB-Proportional)[subject to Maximum]+Additional_Percent*Amt if maximum not reached">Part A Calculation <i class="bi bi-question-circle-fill" data-bs-toggle="modal" data-bs-target="#staticBackdrop1"> What are these parts?</i></li>
							<li class="list-group-item d-flex justify-content-between align-items-center">Benefit under Part A: <span>{{part_a.total}}</span></li>
						</ul>
						<ul class="list-group mb-3" ng-show="continuous12 && params.b_factor">
							<li class="list-group-item d-flex justify-content-between align-items-center">Benefit under Part B: <span>{{part_b.total}}</span></li>
						</ul>
						<ul class="list-group mb-3" ng-show="!continuous12 || !params.b_factor">
							<li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Part B (If Continuous service conditions are satisfied) = Avg. wages up to ceiling*Factor based on Date of death+ Percent*APB[subject to Maximum]... Subject to minimum amount in case of continuous service" >Part B Calculation</li>
							<li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Part B if Continuous service condition not satisfied or if Date of Death is before 08-01-2011: <span>0</span></li>
						</ul>
						
						<ul class="list-group mb-3">
							<li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">Final Benefit (Greater of A or B): <span>{{final}}</span></li>
						</ul>
						<div class="alert alert-info"><a class="alert-link" href="{{ params.link_en }}">Link to the Applicable Circular: </a></div>
						</ul>
						
					</div>
					<div class="card-footer">
						<button type="button" class="btn btn-danger align-self-center" onclick="download()">Download</button>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">What is these parts and factors?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        EDLI Calculation is very different from other scheme calculation. As it is a Deposit linked scheme, the average progressive balance or APB is one importtant factor.
		APB is average of total balance in 12(n) months prior to date of death(-any withdrawals). <br/><br/>
		The other factors are decided based on circulars issued from time to time and the applicability of the circular is based on date of death. 
		Hence, two major variables in EDLI calculation are Average Progressive Balance and Date of Death.
		Based on Date of death many factors are decided such as Minimum, Maximum, percentage of APB to be taken etc.
		
		<h4>What are the parts - Part A and Part B?</h4>
		EDLI amount calculation is done by two formulas and the member is eligible for the amount whichever is greater. You may check the table and relevant circulars by clicking link given in input form.
		<br/>
		Part A = Proportional amount+ Percent*(APB-Proportional)[subject to Maximum]+Additional_Percent*Amt if maximum not reached
		<br/>
		Part B (If Continuous service conditions are satisfied) = Avg. wages up to ceiling*Factor based on Date of death+ Percent*APB[subject to Maximum]... Subject to minimum amount in case of continuous service conditions"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	<script type="text/javascript"  src="./script/angular.min.js"></script>
	<script type="text/javascript"  src="./script/angular-cookies.js"></script>
	<script type="text/javascript"  src="./script/angular-route.js"></script>
	<script type="text/javascript"  src="./script/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript"  src="./script/popper.min.js"></script>
	<script type="text/javascript"  src="./script/bootstrap.bundle.min.js"></script>
	<script type="text/javascript"  src="./script/luxon.min.js"></script>
	<script type="text/javascript"  src="./script/qrcode.min.js"></script>
	<script>
	// jshint esversion: 6
	let url = new URL(window.location);
	let searchParams = new URLSearchParams(url.search);
	let DOD = 0; 
	let APB = 0; 
	let CONTUINITY = 0; 
	let AVG_WAGE = 0;
	var TABLE = [];
	let qrcode;
	
	const DEFAULT = {
		'apb':	0,
		'avg_wage':0,
		'continuous12':false,
		'output':false
	}
	
	const LIMIT1 = new Date('1976-08-01');
	const LIMIT2 = new Date('2021-04-29');
	const LIMIT3 = new Date('2024-04-27');
	const LIMIT_MIN=new Date('2011-04-01');
	const LIMIT_MAX=new Date();
	
	
	const get_urlParams = function () {
		if (searchParams.has("dod")) {
			DOD = luxon.DateTime.fromFormat(searchParams.get('dod'), 'dd-MM-yyyy').toJSDate() || DOD;
		} 
		
		if (searchParams.has("apb")) {
			APB = parseInt(searchParams.get('apb')) || APB;
		} 
		
		if (searchParams.has("avg_wage")) {
			AVG_WAGE = parseInt(searchParams.get('avg_wage')) || AVG_WAGE;
		} 
		
		if (searchParams.has("continuous12")) {
			CONTUINITY = parseInt(searchParams.get('continuous12')) || CONTUINITY;
		}
	};
	
	const initiate_tooltips = function(){
		var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
			var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
			  return new bootstrap.Tooltip(tooltipTriggerEl);
		});
	}
	
	const initiate_qrcode = function(){
		qrc =  new QRCode("qrcode", {
			text: 'Please Enter the values ',
			width: 128,
			height: 128,
			colorDark : "#000000",
			colorLight : "#ffffff",
			correctLevel : QRCode.CorrectLevel.H
		});
		
		return qrc;
	}
	
	const update_qrcode = function(url,qrc){
		qrc.clear(); // clear the code.
		qrc.makeCode(url);
	}
	const download = function () {
		window.print();
	}
	
	function getDateString(date_obj) {
		if(typeof(d)=='object') {
			const d = luxon.DateTime.fromISO(date_obj.toISOString());
			return d.toFormat('dd-MM-yyyy');
		} else 
			return '';
	};
	
	const initialize = function (){
		get_urlParams();
		initiate_tooltips();
		qrcode = initiate_qrcode();
		
	};
	
	const getParams = function(list,date) {
		var start_date, end_date;
		var obj = list.find(function(item){
			start_date = luxon.DateTime.fromFormat(item.start, 'dd-MM-yyyy');
			end_date = luxon.DateTime.fromFormat(item.end, 'dd-MM-yyyy');
			return date>= start_date && date<= end_date;
		});
		return obj;
	}
	
	const get_amt_a = function (min, max, amt, percent) {
		if(min>amt){
			return amt;
		} else {
			var val = parseInt(min)+parseInt(percent*(amt-min)/100);
			if(val>max) {
				return max;
			} else {
				return val;
			}
		}
	
	};
	
	
	const get_final_a = function(a_perc2,a_min, a_max, apb, a_perc1){
		var orig = get_amt_a(a_min, a_max, apb, a_perc1);
		var additional = a_perc2*orig/100;
		var final_a = Math.round(parseFloat(orig)+ parseFloat(additional));
		var outputObj = {
			'orig':orig,
			'additional':additional,
			'total':final_a,
		}
		return outputObj;
	};
	
	const get_additional_partb = function (avg, ceiling, factor, percent) {
		var additional = 0;
		if(avg<ceiling) {
			var val1 = factor*ceiling;
			var val2 = avg*factor;
			var val3 = percent*val2/100;
			if (val2+val3>val1) {
				additional =  parseInt(val1)-parseInt(val2);
			} else {
				additional = parseInt(val3);
			}
		}
		return additional;
	};
	
	
	const get_final_b = function(avg_wage, b_ceiling, b_factor, b_perc, b_perc1, apb, b_max, b_min,continuous12){
		var bool=0, final_b = 0;
		if(continuous12 && avg_wage) {
			bool = 1; 
		} else {
			avg_wage = 0;
		}
		
		var wagexfactor      = bool*Math.min(avg_wage, b_ceiling)*parseFloat(b_factor);
		var additional_partb = bool*get_additional_partb(avg_wage, b_ceiling, b_factor, b_perc);
		var percentOfapb     = bool*b_perc1*apb/100;

		if(percentOfapb>b_max){
		
			percentOfapb=b_max;
		}
		if((wagexfactor+ additional_partb + percentOfapb)<parseInt(b_min) && bool) {
			final_b = parseInt(b_min);
		} else {
			final_b = Math.round(parseFloat(wagexfactor+ additional_partb)+parseFloat(percentOfapb));
		}
		var outputObj = {
			'wagexfactor':wagexfactor,
			'additiona':additional_partb,
			'percentOfapb':percentOfapb,
			'total':final_b
		}
		console.log(outputObj);
		return outputObj;
	};
		
	initialize();
	var app = angular.module('edliApp', ['ngCookies']);
	app.directive('dateofdeath', function() {
	  return {
		require: 'ngModel',
		link: function(scope, elm, attrs, ctrl) {
		  ctrl.$validators.date = function(modelValue, viewValue) {
			if (ctrl.$isEmpty(modelValue)) {
			  return false;
			}
			
			if (modelValue>=LIMIT_MIN && (modelValue<=LIMIT_MAX && modelValue<=LIMIT3)) {
			  return true;
			} 

			return false;
		  };
		}
	  };
	});
	
	app.controller('edliCtrl', ['$scope','$cookies','$cookieStore', '$http', function($scope,$cookies,$cookieStore, $http) {
		
		$http({
			method: 'GET',
			url: './edli2.json'
		}).then(function (success){
			TABLE =success.data;
			$scope.list = TABLE;
		},function (error){
			console.log(error);
		});
		
		
		$scope.limit2 = LIMIT2;
		$scope.output = false;

		$scope.reset = function(){
			$scope.continuous12=false;
			$('#continuous').prop('checked', false); 
			console.log($scope.continuous12);
			$scope.dod = DOD;
			$scope.apb = APB;
			$scope.avg_wage = AVG_WAGE;
			$scope.output=false;
		};
		
		$scope.updateParams = function(list, date) {
			date = luxon.DateTime.fromJSDate(date).toJSDate();
			if ( date == "Invalid Date" || date < LIMIT_MIN || date > LIMIT3 || date> LIMIT_MAX) {
				$scope.alert = "Date out of range of available circulars. Please enter date between 01-04-2011 to totday's date.";
			} else {
				$scope.params = getParams(TABLE, date);
			}
			$scope.update();
		};
		
		$scope.update = function (){
			$scope.output=0;
			$scope.final='Update Calculation';
		}
			
		
		$scope.updateCalculation = function () {
			$scope.output = true;
			$scope.params.link_en = $scope.params.link_en ;
			$scope.part_a = get_final_a($scope.params.a_perc2,$scope.params.a_min, $scope.params.a_max, $scope.apb, $scope.params.a_perc1);
			$scope.part_b = get_final_b($scope.avg_wage, $scope.params.b_ceiling, $scope.params.b_factor, $scope.params.b_perc, $scope.params.b_perc1, $scope.apb, $scope.params.b_max, $scope.params.b_min,$scope.continuous12);
			$scope.final = Math.max($scope.part_a.total, $scope.part_b.total);
			$scope.url = "https://gauravmeena0708.github.io/concept/edli2.html?apb="+$scope.apb+"&dod="+getDateString($scope.dod)+"&avg_wage="+$scope.avg_wage+"&continous12="+$scope.continuous12;
			update_qrcode($scope.url,qrcode);
		};
	}]);
	    $(document).ready(function () {
      $('#increase').click(function () {
        modifyFontSize('increase');
      });
      $('#decrease').click(function () {
        modifyFontSize('decrease');
      });
      $('#reset').click(function () {
        modifyFontSize('reset');
      })
      function modifyFontSize(action) {
        var divElement = $('.demo');
        var currentFontSize = parseInt(divElement.css('font-size'));
        if (action == 'increase')
          currentFontSize += 3;
        else if (action == 'decrease')
          currentFontSize -= 3;
        else
          currentFontSize = 16;
        divElement.animate({ 'fontSize': currentFontSize }, 300);
      }
    });
	</script>
</body>
</html>