<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pension Calculator</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-icons.css">
	<link rel="stylesheet" href="./css/style.css">
</head>

<body style="background-image: linear-gradient(0deg, #FDFFFF 0%, #DFFFFF 100%);">
	<header class="p-1 mb-2 bg-info text-white shadow">
		<div class="container">
		  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			  <li><a href="index.html" class="nav-link px-2 text-white">Home</a></li>
			  <li><a href="pension.html" class="nav-link px-2 text-white">Pension Calculator</a></li>
			  <li><a href="edli.html" class="nav-link px-2 text-white">EDLI</a></li>
			</ul>
			<h3 class="text-center">CALCULATOR</h3>
		  </div>
		</div>
	</header>
    <div class="container-fluid" ng-app="pensionApp" ng-controller="pensionCtrl">
		<div class="row">
			<div class="alert fade show" role="alert">
			<ul class="list-group">
				<li  class="list-group-item list-group-item-danger"><i class="bi bi-exclamation-octagon-fill"></i>
					The calculations shown here are only illustrative in nature and can not be used as a basis of any legal case/litigation.
				</li>
			</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">Pension Calculator Input</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<form name="pensionForm" class="row need-validated">
									<div class="input-group">
										<span class="input-group-text col-md-6" id="dobPrepend">Date of Birth</span>
										<input type="date" ng-model="dob" id="dob" name="dob" ng-change="updateDOB()" class="form-control col-md-6" ng-Class="{'is-invalid': (pensionForm.$pristine || pensionForm.dob.$invalid)}"  dateofbirth required>
										<div class="invalid-feedback col-md-6 text-danger" ng-show="pensionForm.$pristine || pensionForm.dob.$invalid">
											<span ng-show="pensionForm.$pristine">Please update the DOB</span>
											<span ng-show="pensionForm.dob.$error.required">Date of Birth is required.</span>
											<span ng-show="pensionForm.dob.$error.date">The Calculator gives output for Pension start date from 01-04-2011 and Today's Date. Please, enter Date of birth Accordingly.</span>
										</div>	
									</div>
								</form>
								<table class="table table-striped table-bordered table-sm mt-2" ng-show="services.length">
									<thead>
										<tr>
											<td>DOJ</td>
											<td>DOE</td>
											<td>NCP1</td>
											<td>NCP2</td>
											<td></td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="service in services">
											<td>{{service.doj |  date:'dd-MM-yyyy'}}</td>
											<td>{{service.doe |  date:'dd-MM-yyyy'}}</td>
											<td>{{service.ncp1}}</td>
											<td>{{service.ncp2}}</td>
											<td><i class="bi bi-trash" ng-click='removeService($index)'></i></td>
										</tr>
									</tbody>
								</table>
								<button type="button" class="btn btn-success mt-2" data-bs-toggle="modal" ng-clic="update_ncp()" ng-disabled="pensionForm.$pristine" data-bs-target="#addService"><i class="bi bi-plus-circle-fill"></i> Add Service</button>			
								
								<form name="form2" class="row need-validated mt-2" ng-show="pensionForm.$dirty && pensionForm.dob.$valid && total.eligibility && total.doe<=basic.date58">
									<div class="input-group">
										<span class="input-group-text col-md-6" id="dobPrepend">Date of Pension start/Pension option</span>
										<input type="date" ng-model="availing_date" id="ad" name="ad" min="minAD" max="basic.avail58" ng-change="updateAD()" class="form-control col-md-6" ng-Class="{'is-invalid': (form2.ad.$invalid)}" availing_date required>
										<div class="invalid-feedback col-md-4 text-danger" ng-show="form2.ad.$invalid">
											<span ng-show="form2.$pristine">Please update the DOB</span>
											<span ng-show="form2.ad.$error.required">The availing date is required.</span>
											<span ng-show="form2.ad.$error.avail || form2.psalary.$error.min || form2.psalary.$error.max">The option date should be greater than DOE. It should be after attaining age of 50 and max 1 day after attaining age of 58.</span>
										</div>	
									</div>
									<div class="input-group mt-2" ng-show="availing_date">
										<span class="input-group-text col-md-6" id="dobPrepend">Pensionable Salary</span>
										<input type="number" ng-model="psalary" id="psalary" min="1" max="15000" name="psalary" ng-click="output=0" class="form-control col-md-6" ng-Class="{'is-invalid': (form2.psalary.$invalid)}" psalary required>
										<div class="invalid-feedback col-md-6 text-danger" ng-show="form2.psalary.$invalid">
											<span ng-show="form2.psalary.$error.required">This is required. Click on icon above to knwo how to calculate it.</span>
											<span ng-show="form2.psalary.$error.psal || form2.psalary.$error.min || form2.psalary.$error.max">The Pensionable Salary should be greater than 0 and Max 15000 for DOE after 01-09-2014 (6500 before 01-09-2014).</span>
										</div>	
									</div>
								</form>
							</div>
							
							
							
							<ul class="list-group mb-3 col-md-6" ng-show="dob">
								<li class="list-group-item  d-flex justify-content-between align-items-center">Date of Attaining 58 Years:<span>{{ basic.date58 |  date:'dd/MM/yyyy'}}</span></li>
								<li class="list-group-item  d-flex justify-content-between align-items-center">Date of Attaining 50 Years:<span>{{ basic.date50 |  date:'dd/MM/yyyy'}}</span></li>
								<li class="list-group-item  d-flex justify-content-between align-items-center">Min Availing Date:<span>{{ minAD |  date:'dd/MM/yyyy'}}</span></li>
								<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="total.daystotal_age58">Actual Days:<span>{{ total.daystotal_age58}}</span></li>
								<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="total.actual_service">Actual Service:<span>{{ total.actual_service}}</span></li>
								<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="total.pensionable_service">Pensionable Service (max age 58):<span>{{ total.pensionable_service}}</span></li>
								<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="total.pensionable_days">Pensionable days:<span>{{ total.pensionable_days}}</span></li>
								<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="total.eligibility">Eligibility of Service length:<span>{{ total.eligibility}}</span></li>
								<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="total.weightage">Weightage:<span>{{ total.weightage}}</span></li>
								<li class="list-group-item  d-flex justify-content-between align-items-center">Avail 58:<span>{{ basic.avail58 |  date:'dd/MM/yyyy'}}</span></li>
							</ul>
						</div>
						
					</div>
					
					<div class="card-footer d-flex justify-content-between align-items-center">
						<span>
							<button type="button" class="btn btn-success align-self-center" data-bs-toggle="modal" data-bs-target="#pensioninfo" ng-click="updateCalculation()" ng-disabled="pensionForm.$pristine || pensionForm.dob.$error.$invalid || !total.eligibility || form2.$invalid || form2.psalary.$error.$invalid">Show/Update Calculation</button>
							<button type="button" class="btn btn-danger align-self-center" ng-click="reset()">Reset</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-2" ng-show="output">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">Pension Calculator Output</div>
					<div class="card-body">
						<ul class="list-group mb-3 col-md-12">
							<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="pension.superannuation">Superannuation Pension :<span>{{ pension.superannuation }}</span></li>
							<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="pension.superannuation<1000 || (pension.early && pension.early<1000)">Minimum Superannuation pension (from 01-09-2014) :<span>Rs. 1000</span></li>
							<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="pension.earlyreduction">Reduction due to early Pension :<span>{{pension.earlyreduction}}</span></li>
							<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="pension.early">Early Pension(Calculated) :<span>{{pension.early}}</span></li>
							<li class="list-group-item  d-flex justify-content-between align-items-center" ng-show="pension.earlyreduction && (pension.early && pension.early<1000) && pension.earlymin">Early Pension after applying Minimum :<span>{{pension.earlymin}}</span></li>
						</ul>
						<div class="alert alert-warning mt-3">
							For calculating the deferred pension. The superannuation pension can be multiplied by a factor of 1.04 for each year(max two) pension is deferred.
							Deferred pension is applicable only when date of option is after 25-04-2016.
						</div>
					</div>
					<div class="card-footer">
						<button type="button" class="btn btn-danger align-self-center" onclick="download()">Download</button>
					</div>
				</div>
			</div>
		</div>

<div class="modal fade" id="addService" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addService" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="addService">Add Service</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form name="serviceForm" class="need-validated">
					<div class="input-group mb-3 bg-info">
						<span class="input-group-text col-6">DOJ</span>
						<input type="date" ng-model ="service_input.doj" ng-change="update_ncp()" class="form-control" placeholder="doj" aria-label="doj">
					</div>
					<div class="input-group mb-3 bg-light">
						<span class="input-group-text col-6">DOE</span>
						<input type="date" ng-model ="service_input.doe" min="service_input.doj" max="basic.date58" ng-change="update_ncp()" class="form-control" placeholder="doe" aria-label="doe">
					</div>
					<div class="input-group mb-3 bg-light" ng-show="service_input.ncp1edit">
						<span class="input-group-text col-6">NCP b/w 16-11-1995 to 31-08-2014</span>
						<input type="number" ng-model ="service_input.ncp1"  name="ncp1" class="form-control" placeholder="NCP1" aria-label="NCP1">
					</div>
					<div class="input-group mb-3 bg-light" ng-show="service_input.ncp2edit">
						<span class="input-group-text col-6">NCP from 01-09-2014</span>
						<input type="number" ng-model ="service_input.ncp2"  name="ncp2" class="form-control" placeholder="NCP2" aria-label="NCP2">
					</div>
					<div class="row mb-3">
						<div class="col-3">
							<button type="button" class="btn btn-success waves-effect" ng-click="addService()" data-bs-dismiss="modal"><i class="bi bi-plus-circle-fill"></i> Add Service</button>
						</div>
					</div>
			</form>
		</div>
    </div>
  </div>
</div>

<div class="modal fade" id="pensioninfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pensioninfo" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="pensioninfoLabel">Information</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<p>The Calculation in this part is only indicative in nature as the data entered by user and data available in database may be different.</p>
			<p>Currently, only Early pension and Superannuation pension is provided other types of pensions and functionalities will be added soon </p>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

	<!--
	container fluid div closer
	-->
	</div>
	<script type="text/javascript" src="./script/angular.min.js"></script>
	<script type="text/javascript" src="./script/angular-cookies.js"></script>
	<script type="text/javascript" src="./script/angular-route.js"></script>	
	<script type="text/javascript" src="./script/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="./script/popper.min.js"></script>
	<script type="text/javascript" src="./script/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="./script/luxon.min.js"></script>
	<script type="text/javascript" src="./script/lodash.min.js"></script>
	<script type="text/javascript" src="./script/qrcode.min.js"></script>
	<script type="text/javascript" src="./script/script.js"></script>
<script>

var app = angular.module('pensionApp', ['ngCookies']);

app.controller('pensionCtrl', ['$scope','$cookies','$cookieStore', '$http', function($scope,$cookies,$cookieStore, $http) {
	//$scope.dob = BASIC_DEFAULT.dob;
	$scope.reset = function () {
		$scope.resetBasic();
		$scope.updateDOB();
	}
	
	$http({
		method: 'GET',
		url: './data.json'
	}).then(function (success){
		log("json downloaded",[]);
		TABLEB = success.data.TABLEB;	
		TABLEC = success.data.TABLEC;
		TABLED = success.data.TABLED;
		TABLE_BASIC = success.data.TABLE_BASIC_PENSION;
		$scope.reset();
	},function (error){
		log(error,[])
	});
	
	$scope.updateDOB = function(){
		$scope.resetService();
		if($scope.dob) {
			$scope.basic.date58  = getDate($scope.dob).plus({years: 58}).minus({days: 1}).toJSDate();
			$scope.basic.date50  = getDate($scope.dob).plus({years: 50}).minus({days: 1}).toJSDate();
			$scope.basic.avail58 = getDate($scope.dob).plus({years: 58}).toJSDate();
			$scope.basic.avail50 = getDate($scope.dob).plus({years: 50}).toJSDate();
			console.log("dob,basic.58,scope.dob",$scope.dob,$scope.basic.date58)
			$scope.updateMinAD();
		}
	}
	
	
	$scope.resetBasic = function (){
		$scope.dob  = 0;//BASIC_DEFAULT.dob;
		$scope.basic = {};BASIC_DEFAULT;
		$scope.resetService();
		$scope.updateDOB();
	}
	
	$scope.resetService = function() {
		$scope.dates=[];
		$scope.services=[];
		$scope.availing_date = 0;
		$scope.minAD=0;
		$scope.psalary = 0;
		$scope.service_input  = SERVICE_INPUT_DEFAULT;
		$scope.pension = SUPERANNUATION_DEFAULT;
		$scope.total=updateTotal();
		$scope.updateMinAD();
		$scope.output = false;
		$scope.pension = false;
	}
	
	$scope.removeService = function(index) {
		if(index >= 0){
			$scope.dates.splice(index*2, 2);
			$scope.services.splice(index, 1);	
			$scope.total=updateTotal();
			$scope.updateCalculation();
		}
	}
	
	$scope.updateMinAD = function(){
		
		x = $scope.total.doe>$scope.basic.date50?$scope.total.doe:$scope.basic.date50;
		$scope.minAD = luxon.DateTime.fromJSDate(x).plus({days: 1}).toJSDate();
		$scope.minAD = $scope.minAD<LIMIT_MIN?LIMIT_MIN:$scope.minAD;
		$scope.total.eligibility = $scope.total.eligibility;
	}
	
	$scope.updateAD = function(){
		if(getDate_ddmmyyyy($scope.availing_date) == getDate_ddmmyyyy($scope.basic.avail58) && getDate_ddmmyyyy($scope.total.doe) == getDate_ddmmyyyy($scope.basic.date58) && $scope.total.daysact>=7300) {
			$scope.total.weightage = 2;
		} else {
			$scope.total.weightage = 0;
		}
		$scope.output = false;
		log("availing,doe, weightage,total,actual",[$scope.availing_date, $scope.total.doe, $scope.total.weightage,$scope.total.daystotal,$scope.total.daysact]);
	}
	
	$scope.updateCalculation = function() {
		
		$scope.output=true;
		$scope.pension = get_pension($scope.total,$scope.psalary, $scope.dob, $scope.availing_date);
		if($scope.pension.superannuation<=0) {
			console.log("invalid input");
			$scope.output=false;
		}
	}
	
	
	function updateTotal() {
		var total = $scope.services.reduce(function(acc, o) {
				for (var p in o)
					acc[p] = (p in acc ? acc[p] : 0) + o[p];
					return acc;
				}, {});
		if($scope.services.length) {
			var x= $scope.services.reduce((a, b) => (a.doe > b.doe ? a : b));
			var y= $scope.services.reduce((a, b) => (a.doj < b.doj ? a : b));
			total.doe=x.doe;
			total.doj=y.doj;
			total.pensionable_days = total.daystotal_age58-total.ncp1-total.ncp2;
			total.pensionable_service = '';//getServiceStr(total.pensionable_days);
			total.actual_service = '';//getServiceStr(total.daystotal);
			total.actual_service1 = '';//getServiceStr(total.daysact);
			if(total.doe>=ELG_DATE1) {
				total.eligibility = total.daystotal_age58>=ELG_DAYS?true:false;
			} else {
				total.eligibility = total.pensionable_days>=ELG_DAYS?true:false;
			}
			return total;
			
		} else {
			total.doe=0;
			total.doj=0;
		}
		return total;
	}	
	
	$scope.update_ncp = function () {
		if($scope.service_input.doj>CEILING2_DATE) {
			$scope.service_input.ncp1=0;
			$scope.service_input.ncp1edit=0;
		} else {
			$scope.service_input.ncp1edit=1;
		}
		if($scope.service_input.doe<CEILING2_DATE) {
			$scope.service_input.ncp2=0;
			$scope.service_input.ncp2edit=0;
		} else {
			$scope.service_input.ncp2edit=1;
		}
	}
	
	$scope.addService = function(){
		var doj = $scope.service_input.doj;
		var doe = $scope.service_input.doe;
		var ncp1 = $scope.service_input.ncp1;
		var ncp2 = $scope.service_input.ncp2;
		log("Add Service Called: (DOJ, DOE): ",[doj,doe]);
		var date1 = $scope.dates.slice();
		$scope.dates.push(doj);
		$scope.dates.push(doe);
		
		if(!validateService($scope.service_input, $scope.dob)) {
			log("Validate: Invalid Service Details. Returning to previous state.",[]);
			$scope.dates = date1.slice();
		} else if(multipleDateRangeOverlaps($scope.dates)){
			log("Overlap: Date range overlapping. Returning to previous state",[]);
			$scope.dates = date1.slice();
		} else {
			var monthsbefore     = getDifference(doj,doe,'Months',"before");
			var monthsafter      = getDifference(doj,doe,'Months',"after");
			var yearsbefore      = getDifference(doj,doe,'Years',"before");
			var yearsafter       = getDifference(doj,doe,'Years',"after");
			var daysbefore       = getDifference(doj,doe,'Days',"before");
			var daysafter        = getDifference(doj,doe,'Days',"after");
			var daysact          = getDifference(doj,doe,'Days',"both");
			var daystotal        = daysbefore+daysafter;
			var date58           = $scope.basic.date58;
			date58               = doe>date58?date58:doe;
			var daysbefore_age58 = getDifference(doj,date58,'Days',"before");
			var daysafter_age58  = getDifference(doj,date58,'Days',"after");
			var daystotal_age58   = daysbefore_age58+daysafter_age58;
			
			log("AddService:(DOJ,DOE,NCP1,NCP2,Y1,Y2,M1,M2,D1,D2,D_Total)",[doj,doe,ncp1,ncp2,yearsbefore,yearsafter,monthsbefore,monthsafter,daysbefore,daysafter,daystotal]);
			var service = {
				'doj':doj,
				'doe':doe,
				'ncp1':ncp1,
				'ncp2':ncp2,
				'monthsbefore':monthsbefore,
				'monthsafter':monthsafter,
				'yearsbefore':yearsbefore,
				'yearsafter':yearsafter,
				'daysbefore':daysbefore,
				'daysafter':daysafter,
				'daysact':daysact,
				'daystotal':daystotal,
				'daystotal_age58':daystotal_age58
			}
			
			$scope.services.push(service);
			$scope.total = updateTotal();
			if($scope.total.doe==$scope.basic.date58) {
				$scope.availing_date = $scope.basic.avail58;
				console.log($scope.availing_date);
				$scope.updateAD();
			} else {
				$scope.total.weightage = 0;
			}
			log("doe,date58,availing_date",[$scope.total.doe,$scope.basic.date58,$scope.availing_date]);
			$scope.updateMinAD();
		}
	}
	
	
}]);

app.directive('dateofbirth', function() {
	return {
		require: 'ngModel',
		link: function(scope, elm, attrs, ctrl) {
			ctrl.$validators.date = function(modelValue, viewValue) {
				
				if (ctrl.$isEmpty(modelValue)) {
					return false;
				}
			
				if (modelValue>=MIN_DOB && modelValue<=MAX_DOB) {
					return true;
				} 

				return false;
			};
		}
	};
});

/*
app.directive('availing_date', function() {
	return {
		require: 'ngModel',
		link: function(scope, elm, attrs, ctrl) {
			ctrl.$validators.required = function(modelValue, viewValue) {
				console.log(modelValue, viewValue,scope.total.doe,scope.basic.avail50,avail58)
				if (ctrl.$isEmpty(modelValue)) {
					return false;
				}
			
				if ((viewValue>scope.total.doe && viewValue>=scope.basic.avail50) && viewValue<=avail58) {
					return true;
				} 

				return false;
			};
		}
	};
});
*/
app.directive('psalary', function() {
	return {
		require: 'ngModel',
		link: function(scope, elm, attrs, ctrl) {
			ctrl.$validators.psal = function(modelValue, viewValue) {
				if (ctrl.$isEmpty(modelValue)) {
					return false;
				}
			
				if ((scope.total.doe<CEILING2_DATE && modelValue<=6500) || (scope.total.doe>CEILING2_DATE && modelValue<=15000)) {
					return true;
				} 
				

				return false;
			};
		}
	};
});
	</script>
</body>
</html>