<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Pension Calculator</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-icons.css">
	<link rel="stylesheet" href="./css/style.css">
</head>

<body style="background-image: linear-gradient(0deg, #FDFFFF 0%, #DFFFFF 100%);">
	<header class="p-1 mb-2 bg-info text-white shadow">
		<div class="container">
		  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<h3 class="text-center">PENSION CALCULATOR</h3>
		  </div>
		</div>
	</header>
    <div class="container-fluid" ng-app="pensionApp" ng-controller="pensionCtrl">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">Pension Calculator Input</div>
					<div class="card-body p-1">
					<form name="form2" class="row need-validated">
						<div class="input-group">
							<span class="input-group-text col-md-6" id="pastBenefit">Past Service Benefit</span>
							<input type="number" ng-model="pastBenefit" id="pastBenefit" min="0" max="2000" name="pastBenefit" class="form-control col-md-6" ng-Class="{'is-invalid': (form2.pastBenefit.$invalid)}" pastBenefit required>
							<div class="invalid-feedback col-md-6 text-danger" ng-show="form2.pastBenefit.$invalid">
								<span ng-show="form2.pastBenefit.$error.required">This is required.</span>
								<span ng-show="form2.pastBenefit.$error.min || form2.pastBenefit.$error.max">Past Service Benefit is out of range</span>
							</div>	
						</div>
						<div class="input-group mt-2">
							<span class="input-group-text col-md-6" id="service1">Service Before 01.09.2014</span>
							<input type="number" ng-model="service1" id="service1" min="0" max="6864" name="service1" class="form-control col-md-6" ng-Class="{'is-invalid': (form2.service1.$invalid)}" service1 required>
							<div class="invalid-feedback col-md-6 text-danger" ng-show="form2.service1.$invalid">
								<span ng-show="form2.service1.$error.required">This is required.</span>
								<span ng-show="form2.service1.$error.min || form2.service1.$error.max">Service Before 01.09.2014 can be between 0 and 6864</span>
							</div>	
						</div>
						<div class="input-group mt-2">
							<span class="input-group-text col-md-6" id="service2">Service from 01.09.2014</span>
							<input type="number" ng-model="service2" id="service2" min="0" max="6864" name="service2" class="form-control col-md-6" ng-Class="{'is-invalid': (form2.service2.$invalid)}" service2 required>
							<div class="invalid-feedback col-md-6 text-danger" ng-show="form2.service2.$invalid">
								<span ng-show="form2.service2.$error.required">This is required.</span>
								<span ng-show="form2.service2.$error.min || form2.service2.$error.max">Service after 01.09.2014 can be between 0 and 6864</span>
							</div>	
						</div>
						<div class="input-group mt-2">
							<span class="input-group-text col-md-6" id="ncp1">NCP before 01.09.2014</span>
							<input type="number" ng-model="ncp1" id="ncp1" min="0" max="6864" name="ncp1" class="form-control col-md-6" ng-Class="{'is-invalid': (form2.ncp1.$invalid)}" ncp1 required>
							<div class="invalid-feedback col-md-6 text-danger" ng-show="form2.ncp1.$invalid">
								<span ng-show="form2.ncp1.$error.required">This is required.</span>
								<span ng-show="form2.ncp1.$error.min || form2.ncp1.$error.max">NCP Before 01.09.2014 can be between 0 and 6864</span>
							</div>	
						</div>
						<div class="input-group mt-2">
							<span class="input-group-text col-md-6" id="ncptotal">Total NCP (EPS 95)</span>
							<input type="number" ng-model="ncptotal" id="ncptotal" min="0" max="10000" name="ncptotal" class="form-control col-md-6" ng-Class="{'is-invalid': (form2.ncptotal.$invalid)}" ncptotal required>
							<div class="invalid-feedback col-md-6 text-danger" ng-show="form2.ncptotal.$invalid">
								<span ng-show="form2.ncptotal.$error.required">This is required.</span>
								<span ng-show="form2.ncptotal.$error.min || form2.ncptotal.$error.max">NCP can not be more than 10000</span>
							</div>	
						</div>
						<div class="input-group mt-2">
							<span class="input-group-text col-md-6" id="weightage2y">2 Year Weightage (<a href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="For weightage, 1 means eligible for weightage and 0 means not eligible.">Click Here</a>)</span>
							<input type="number" ng-model="weightage2y" id="weightage2y" min="0" max="1" name="weightage2y" class="form-control col-md-6" ng-Class="{'is-invalid': (form2.weightage2y.$invalid)}" weightage2y required>
							<div class="invalid-feedback col-md-6 text-danger" ng-show="form2.weightage2y.$invalid">
								<span ng-show="form2.weightage2y.$error.required">This is required.</span>
								<span ng-show="form2.weightage2y.$error.min || form2.weightage2y.$error.max">2 Year weightage can either be 0 or 1.</span>
							</div>
						</div>
						<br/>
						<div class="input-group mt-2">
							<span class="input-group-text col-md-6" id="psalary1">Pensionable Salary Before 01.09.2014(avg of 12 months)</span>
							<input type="number" ng-model="psalary1" id="psalary1" min="0" name="psalary1" class="form-control col-md-6" ng-Class="{'is-invalid': (form2.psalary1.$invalid)}" weightage2y required>
							<div class="invalid-feedback col-md-6 text-danger" ng-show="form2.psalary1.$invalid">
								<span ng-show="form2.psalary1.$error.required">This is required.</span>
								<span ng-show="form2.psalary1.$error.min || form2.psalary1.$error.max">Pensionable salary can not be less than 0</span>
							</div>	
						</div>
						<div class="input-group mt-2">
							<span class="input-group-text col-md-6" id="psalary2">Pensionable Salary from 01.09.2014(avg of 60 months)</span>
							<input type="number" ng-model="psalary2" id="psalary2" min="0" name="psalary2" class="form-control col-md-6" ng-Class="{'is-invalid': (form2.psalary2.$invalid)}" weightage2y required>
							<div class="invalid-feedback col-md-6 text-danger" ng-show="form2.psalary2.$invalid">
								<span ng-show="form2.psalary2.$error.required">This is required.</span>
								<span ng-show="form2.psalary2.$error.min || form2.psalary2.$error.max">Pensionable salary can not be less than 0</span>
							</div>	
						</div>
					</form>
					</div>
					
					<div class="card-footer d-flex justify-content-between align-items-center">
						<span>
							<button type="button" class="btn btn-success align-self-center" ng-click="updateCalculation()" ng-disabled="form2.$invalid || form2.psalary2.$invalid">Calculate</button>
							<button type="button" class="btn btn-danger align-self-center" ng-click="reset()">रीसेट/Reset</button>
							<button type="button" class="btn btn-danger align-self-center" ng-show="output" onclick="download()">Download</button> 
						</span>
					</div>
				</div>
			</div>
		</div>
        <div class="row mt-2" ng-show="output">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">Pension Calculator Output</div>
					<div class="card-body mb-0 p-1">
						<table class="table table-striped table-bordered table-sm mb-0">
							<tbody>
								<tr><td colspan="3">Before 16.11.1995</td>
								</tr>
								<tr>
									<td>Past Benefit</td>
									<td></td>
									<td>{{pastBenefit}}</td>
								</tr>
								<tr>
									<td>
										<table class="table table-striped table-bordered table-sm mt-2">
											<tr><td colspan="3">Between 16.11.1995 and 31.08.2014</td></tr>
											<tr><td>Service(days)</td><td></td><td>{{service1}}</td></tr>
											<tr><td>NCP(days)</td><td></td><td>{{ncp1}}</td></tr>
											<tr><td>Weightage(days)</td><td></td><td>{{weightage2y*730}}</td></tr>
											<tr><td>Net Service(days)</td><td></td><td>{{netdays1}}</td></tr>
											<tr><td>Pensionable salary</td><td></td><td>{{psalary1}}</td></tr>
											<tr><td>Pension for period</td><td></td><td>{{pension1}}</td></tr>
										</table>
									</td>
									<td></td>
									<td>
										<table class="table table-striped table-bordered table-sm mt-2">
											<tr><td colspan="3">From 01.09.2014</td></tr>
											<tr><td>Service(days)</td><td></td><td>{{service2}}</td></tr>
											<tr><td>NCP(days)</td><td></td><td>{{ncp2}}</td></tr>
											<tr><td colspan="3">__</td></tr>
											<tr><td>Net Service(days)</td><td></td><td>{{netdays2}}</td></tr>
											<tr><td>Pensionable salary</td><td></td><td>{{psalary2}}</td></tr>
											<tr><td>Pension for period</td><td></td><td>{{pension2}}</td></tr>
										</table>
									</td>
								</tr>
								<tr>
									<td colspan="3">Total Pension= {{pastBenefit}} + {{pension1}}* + {{pension2}}* = {{pension}}</td>
								</tr>
								<tr>
									<td colspan="3">
										* The inidividual values may be at difference of Rs. 1 as the total Pension is calculated in single formula ((P1*S1)+(P2*S2))/(70*365) <br />
										**The calculations shown here are only illustrative in nature and can not be used as a basis of any legal case/litigation.
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	<!--
	container fluid div closer
	-->
	</div>
	<script type="text/javascript" src="./script/angular.min.js"></script>
	<script type="text/javascript" src="./script/angular-cookies.js"></script>
	<script type="text/javascript" src="./script/angular-route.js"></script>	
	<script type="text/javascript" src="./script/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="./script/popper.min.js"></script>
	<script type="text/javascript" src="./script/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="./script/luxon.min.js"></script>
	<script type="text/javascript" src="./script/lodash.min.js"></script>
	<script type="text/javascript" src="./script/qrcode.min.js"></script>
	<script type="text/javascript" src="./script/script.js"></script>
<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})

var app = angular.module('pensionApp', ['ngCookies']);

app.controller('pensionCtrl', ['$scope','$cookies','$cookieStore', '$http', function($scope,$cookies,$cookieStore, $http) {
	//$scope.dob = BASIC_DEFAULT.dob;
	$scope.reset = function () {
		$scope.pastBenefit = 488;
		$scope.psalary1 = 6500;
		$scope.psalary2 = 14858;
		$scope.ncp1 = 0;
		$scope.ncptotal = 0;
		$scope.service1 = 6805;
		$scope.service2 = 1819;
		$scope.weightage2y = 1;
		$scope.output = 0;
		$scope.ncp2 = 0;
		$scope.netdays1 = 0;
		$scope.netdays2 = 0;
		$scope.pension1 = 0;
		$scope.pension2 = 0;
		$scope.pension = 0;
	}
	
	
	$scope.updateCalculation = function() {
		$scope.ncp2 = $scope.ncptotal - $scope.ncp1;
		$scope.netdays1 = $scope.service1+($scope.weightage2y*730)-$scope.ncp1;
		$scope.netdays2 = $scope.service2+-$scope.ncp2
		$scope.pension1 = ($scope.psalary1*$scope.netdays1)/ (70*365)
		$scope.pension1 = Math.round($scope.pension1 * 100) / 100
		$scope.pension2 = ($scope.psalary2*$scope.netdays2)/ (70*365)
		$scope.pension2 = Math.round($scope.pension2 * 100) / 100
		$scope.pension = $scope.pastBenefit + ((($scope.netdays1*$scope.psalary1)+($scope.netdays2*$scope.psalary2))/((70*365)))
		$scope.pension = Math.round($scope.pension)
		$scope.output = 1;
		console.log($scope.netdays1,$scope.netdays2,$scope.pastBenefit,$scope.pension1,$scope.pension2,$scope.pension);
	}

	
}]);



	</script>
</body>
</html>